

{% extends 'base.html' %} {% block header %}
<h1>Contact Me</h1>
{% endblock header%}
{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Whits Me, Aaron Whitaker</h1>
        <p class="col-md-8 fs-4" style="color: #000000">See my work on GitHub @whitsme and my resume on LinkedIn @aaronww</p>
        <button class="btn btn-primary btn-lg" type="submit" onclick="location.href="https://github.com/Whitsme"">GitHub</button>
        <button class="btn btn-primary btn-lg" type="submit" onclick="location.href="https://www.linkedin.com/in/aaronww/"">LinkedIn</button>
      </div>
    </div>
</div>
{% endblock content %}

{% comment %} Aaron Whitaker
CIS218 - Web Application Programming
9/22/2022 {% endcomment %}