

{% extends 'base.html' %} {% block header %}
<h1>Projects</h1>
{% endblock header%}
{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">Hardware</h2>
        <p class="col-md-8 fs-4" style="color: #000000">-> Learning to copy the firmware off an old word processor to see if I can modify the OS or software (slow goings, currently stalled).<br/><br/>
            -> I installed Linux on an old Chromebook off eBay. Installed Steam, build a wall hanging arcade cabinet, wired arcade controls, and turned an old Chromebook into an indie game arcade machine. Playing Fez on an arcade machine is magic.<br/><br/> 
        </p>
        <h2 class="display-5 fw-bold">Software</h2>
        <p class="col-md-8 fs-4">-> Writing a copy of an old power pc game built by a company that is no longer in business in Godot. It was a game a friend and I played often growing up. (I made fast early gains, but a key element of Godot clicked, and I went back through my code to refactor and include the element. I got stuck after that when I went back to advancing the game and stepped away for a bit)<br/><br/>
            -> I wrote and deployed networking documentation software in Python. Planning on expanding it soon to move the documentation project forward.<br/>
        </p>
      </div>
    </div>
</div>
{% endblock content %}

{% comment %} Aaron Whitaker
CIS218 - Web Application Programming
9/22/2022 {% endcomment %}
